:root{
    --color-primary: #08163b;
    --color-red: #dd1919;
    --color-skyblue: #1cbeb1;
    --color-purple:#5712a7;
    --color-pink:#df25c6;
    --color-text:#292929;
    --color-text-light:#5c5c5c;
    --color-white:#fff;
    --color-black:#000000;
    --color-gray-light:#e9e9e9;
}