:root{
    --color-primary: #0c2461;
    --color-red: #dd1919;
    --color-skyblue: #1cbeb1;
    --color-purple:#5712a7;
    --color-pink:#df25c6;
    --color-text:#292929;
    --color-text-light:#b6b6b6;
    --color-white:#fff;
    --color-black:#000000;
}