@import './layout.css';

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ol,ul,li{
    list-style-type: none;
}

button{
    border: none;
}

img{
    max-width: 100%;
}

i{
    display: inline-block;
}

i svg{
    height: 100%;
    width: 100%;
}
